@tailwind base;
@tailwind components;
@tailwind utilities;

/* rehype-pretty-code */
pre [data-line] {
  padding: 0 1rem;
}

code {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-slate-500;
}

code[data-line-numbers] > [data-highlighted-line]::before {
  @apply text-slate-300;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  @apply w-8;
}

[data-highlighted-line] {
  @apply bg-slate-600;
}

[data-highlighted-chars] {
  box-shadow: 0 0 0 2px var(--tw-shadow-color);
  @apply rounded bg-slate-600 shadow-slate-600;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-md bg-slate-500 p-2 text-sm text-slate-100;
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}

[data-rehype-pretty-code-caption] {
  @apply border-l-4 border-[var(--tw-prose-quote-borders)] pl-2 italic;
}
