---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import DefaultLayout from "@/layouts/default-layout.astro";
import { getEnglishBlogPosts } from "@/utils/content.util";

const allBlogPosts = await getEnglishBlogPosts();
---

<DefaultLayout>
  <h1>Well, hello!</h1>
  <Icon name="ri:verified-badge-line" class="text-6xl" />
  <Icon name="devicon:astro" class="text-5xl" />
  <ul>
    {
      allBlogPosts.map(post => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</DefaultLayout>
