---
import { formatDate } from "@mupin.dev/shared";

const { startDate, endDate, location } = Astro.props;
const formattedStartDate = formatDate(startDate);
const formattedEndDate =
  startDate === endDate ? "Present" : formatDate(endDate);
---

<h3
  class="justify-self-end text-right !text-[8px] !font-normal sm:!text-[12px]"
>
  {formattedStartDate} - {formattedEndDate} | {location}
</h3>
