---
import "@fontsource-variable/inter";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

import SeoHead from "@/components/seo-head.astro";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar.astro";
import { type Locale } from "@/types";
import { cn } from "@/lib/utils.lib";

interface Props {
  lang: Locale;
  containerClass?: string;
}

const { lang = "en", containerClass } = Astro.props;
---

<!doctype html>
<html {lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="seo">
      {/* @ts-expect-error: this is expected since it's inside a layout */}
      <SeoHead />
    </slot>
  </head>
  <body class="text-cod-gray-3 relative flex flex-col bg-slate-100">
    <Navbar />
    <main class={cn("mx-auto max-w-6xl w-full px-4 grow", containerClass)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
