---
import { getCollection, render } from "astro:content";
import DefaultLayout from "@/layouts/default-layout.astro";
import { getPostTranslations } from "@/lib/content.lib";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const postTranslations = await getPostTranslations(post.data.path, post.data.locale);
---

<DefaultLayout lang={post.data.locale}>
  <h1>{post.data.title}</h1>
  <ul>
    {
      postTranslations.map(t => (
        <li>
          <a href={`/blog/${t.data.slug}`}>{t.data.languageName}</a>
        </li>
      ))
    }
  </ul>
  <div class="prose prose-slate mx-auto">
    <Content />
  </div>
</DefaultLayout>
