---
import DefaultLayout from "@/layouts/default-layout.astro";
import SeoHead from "@/components/seo-head.astro";
import PageHeader from "@/components/page-header.astro";
import BlogList from "@/components/blog/blog-list.astro";
import TagList from "@/components/blog/tag-list.astro";
import { getEnglishBlogPosts, getBlogTags } from "@/lib/content.lib";

const blogPosts = await getEnglishBlogPosts();
const blogTags = await getBlogTags();
---

<DefaultLayout>
  <SeoHead
    slot="seo"
    title="Blog"
    description="Learning journey, tutorials, and documentation about software engineering and front-end development"
  />

  <PageHeader
    title="Blog"
    subtitle="Some write-ups about what I learned. Writing is the best way to learn."
  />

  <section class="grid grid-cols-1 gap-8 pt-8 sm:grid-cols-4 sm:gap-6 sm:pt-16">
    <BlogList posts={blogPosts} class="col-span-1 sm:col-span-3" />

    <div class="col-span-1 space-y-4">
      <h2 class="text-xl font-bold">Tags</h2>
      <TagList tags={blogTags} />
    </div>
  </section>
</DefaultLayout>
