<style>
  .gradient {
    background-color: hsla(0, 0%, 100%, 0);
    background-image:
      radial-gradient(at 60% 60%, hsla(0, 100%, 81%, 1) 0px, transparent 50%),
      radial-gradient(at 39% 40%, hsla(57, 100%, 70%, 1) 0px, transparent 50%);
  }
</style>

<section class="relative flex min-h-[calc(100svh-76px)] items-center justify-center">
  <div class="gradient absolute -z-1 aspect-square max-h-full w-full"></div>
  <h1
    class="font-bricolage text-center text-3xl text-balance min-[440px]:text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl"
  >
    It's me,
    <em class="bg-pink-2 inline-flex rounded-xl px-3 py-1 font-bold"> Faqih </em>. <br />
    An
    <em class="font-bold">enthusiastic</em> frontend <em class="font-serif font-bold">wɛb</em> developer,
    <span
      class="border-cod-gray-1 bg-lemon-1 inline-flex items-center justify-center rounded-xl border-2 border-dashed font-bold"
    >
      <span class="border-cod-gray-1 inline-block rotate-2 rounded-xl border bg-slate-50 px-3 py-1">
        tailoring
      </span>
    </span>
    <span class="font-bold underline"> pleasant user interfaces. </span>
  </h1>
</section>
