---
import { Icon } from "astro-icon/components";
---

<section class="space-y-2">
  <div class="not-prose">
    <div class="inline-flex items-center gap-2">
      <Icon name="ri:file-paper-2-line" size="24" />
      <h2 class="text-2xl font-bold">README</h2>
    </div>
    <hr class="mt-2 border-dashed" />
  </div>

  <slot />
</section>
