---
import { Icon } from "astro-icon/components";
import { GridPattern } from "@/components/ui/grid-pattern.tsx";

type Props = {
  title: string;
  subtitle?: string;
  backLink: string;
};

const { title, subtitle, backLink = "/" } = Astro.props;
---

<div class="absolute inset-x-0 top-0 -z-1 h-56">
  <GridPattern
    width={30}
    height={30}
    x={-1}
    y={-1}
    className="[mask-image:linear-gradient(to_bottom,var(--color-slate-100),transparent)]"
  />
</div>

<header class="mx-auto flex max-w-prose flex-col gap-6 pt-8 sm:gap-8 sm:pt-16">
  <h1
    class="font-bricolage relative inline-flex flex-col gap-6 text-4xl font-bold text-pretty md:text-5xl lg:-mx-16 lg:text-center lg:text-6xl xl:-mx-36 xl:text-7xl"
  >
    <a href={backLink} class="group lg:absolute lg:top-0 lg:-left-14">
      <Icon
        name="ri:arrow-left-line"
        size="44"
        class="transition-transform group-hover:-translate-x-1 group-focus:-translate-x-1"
      />
    </a>

    {title}
  </h1>

  {subtitle && <p class="text-sm lg:text-center lg:text-base">{subtitle}</p>}

  <slot />
</header>
