---
import { Icon } from "astro-icon/components";

type Props = {
  title: string;
  subtitle?: string;
  backLink: string;
};

const { title, subtitle, backLink = "/" } = Astro.props;
---

<style>
  .grid-pattern {
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(var(--color-cod-gray-3) 2px, transparent 2px),
      linear-gradient(to right, var(--color-cod-gray-3) 2px, transparent 2px);
    background-size: 30px 30px;
  }
</style>

<div class="absolute inset-x-0 top-0 -z-1 h-52">
  <div
    class="absolute top-0 size-full bg-linear-to-t from-slate-100 from-35% to-transparent to-100%"
  >
  </div>
  <div class="grid-pattern"></div>
</div>

<header class="mx-auto flex max-w-prose flex-col gap-6 pt-8 sm:gap-8 sm:pt-16">
  <h1
    class="font-bricolage relative inline-flex flex-col gap-6 text-4xl font-bold text-pretty md:text-5xl lg:-mx-16 lg:text-center lg:text-6xl xl:-mx-36 xl:text-7xl"
  >
    <a href={backLink} class="group lg:absolute lg:top-0 lg:-left-14">
      <Icon
        name="ri:arrow-left-line"
        size="44"
        class="transition-transform group-hover:-translate-x-1 group-focus:-translate-x-1"
      />
    </a>

    {title}
  </h1>

  {subtitle && <p class="text-sm lg:text-center lg:text-base">{subtitle}</p>}

  <slot />
</header>
